# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.PNG
maths/Fig3.ggb
maths/Fig3.svg
maths/Fig1.pdf
maths/Fig2.pdf
maths/Fig3.pdf
maths/Fig4.pdf
maths/Fig5.pdf


*.ggb
maths/Projection.synctex.gz
Orbits3.5.py
Orbits3.py
__pycache__/vector.cpython-36.pyc
*.un~
*.tex~
quicky.py
*.pyc
*.py~
